:root {
    --background-light: #2c2f33;
    --background-dark: #23272a;
    --background-not-hover: #404249;
    --background-hover: #393B40;
    --text-light: #F2F2F2;
    --icon-dark: #D7D8D9;
    --text-gray: #B8BBBF;
    --text-dark: #686B73;
    --blue-medium: #5C73F2;
    --blue-dark: #495ABF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-dark);
    font-family: sans-serif;
    font-size: 1rem;
    color: var();
    margin: 0;
}

main {
    height: 100vh;
}

ul {
    margin-top: 0;
}

/* * * * * * * * *
 L I N K - B O D Y
 * * * * * * * * */
.link-body {
    fill: var(--blue-dark);
}

.link-body:hover {
    fill: var(--blue-medium);
}

/* * * * * * * * * *
 N A V E G A T I O N
 * * * * * * * * * */
.nav {
    padding-left: 0;
    list-style: none;
}

.nav-link {
    fill: var(--text-gray);
    display: block;
    padding: 1rem;
    transition: background-color .15s ease-in-out, fill .15s ease-in-out;
}

.nav-link:hover {
    background-color: var(--background-hover);
    fill: var(--text-light);
}

.nav-link.active {
    background-color: var(--background-not-hover);
    fill: var(--text-light);
}

.nav-link.active:hover {
    background-color: var(--background-hover);
    fill: var(--icon-dark);
}

/* * * * * * * * * 
 I M P O R T A N T 
 * * * * * * * * */
.bg-body-light {
    background-color: var(--background-light) !important;
}

.bg-body-dark {
    background-color: var(--background-dark) !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.text-center {
    text-align: center !important;
}

.border-top {
    border-top: 1px solid var(--text-dark) !important;
}

.border-bottom {
    border-bottom: 1px solid var(--text-dark) !important;
}

.p {
    padding: 1rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}