.footer {
    padding: 1rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
}

.footer ul {
    display: flex;
}

.footer ul li {
    padding-inline: 1rem;
    display: flex;
}

.footer ul li a {
    display: contents;
}