:root {
    --background-light: #4E4F58;
    --background-medium: #393A40;
    --background-gray: #2B2C31;
    --background-dark: #222326;
    --background-black: #1a1b1d;
    --background-light-gray: #3C3D42;
    --background-darker-gray: #2A2B2F;
    --background-deep-gray: #1F2023;
    --background-charcoal: #141516;
    --background-almost-black: #0f0f10;
    --white-light: #F2F2F2;
    --white-medium: #D7D8D9;
    --white-gray: #B8BBBF;
    --white-dark: #686B73;
    --blue-light: #5C73F2;
    --blue-dark: #495ABF;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    scroll-behavior: smooth
}

* {
    color: var(--white-medium);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

html, body {
    height: 100%
}

body {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column
}

.container {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin: auto;
}

.row {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-auto {
    flex:0 0 auto;
    width:auto
}

.col-1 {
    width:8.33333333%;
    flex:0 0 auto
}

.col-2 {
    width:16.66666667%;
    flex:0 0 auto
}

.col-3 {
    width:25%;
    flex:0 0 auto
}

.col-4 {
    width:33.33333333%;
    flex:0 0 auto
}

.col-5 {
    width:41.66666667%;
    flex:0 0 auto
}

.col-6 {
    width:50%;
    flex:0 0 auto
}

.col-7 {
    width:58.33333333%;
    flex:0 0 auto
}

.col-8 {
    width:66.66666667%;
    flex:0 0 auto
}

.col-9 {
    width:75%;
    flex:0 0 auto
}

.col-10 {
    width:83.33333333%;
    flex:0 0 auto
}

.col-11 {
    width:91.66666667%;
    flex:0 0 auto
}

.col-12 {
    width:100%;
    flex:0 0 auto
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}


hr {
    margin-top: 2rem; 
    margin-bottom: 2rem;
    border: 1px solid var(--background-medium);
}

.btn {
    background-color: var(--white-dark);
    color: var(--white-medium);
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.btn-secondary {
    background: none; 
    border: none; 
    color: inherit; 
    padding: 0; 
    font: inherit; 
    cursor: pointer;
    text-decoration: underline; 
}
.btn:hover{
    background-color: var(--blue-light);
}

