:root {
    --background-light: #5A6571;
    --background-medium: #3E4751;
    --background-gray: #2C343C;
    --background-dark: #1E2327;
    --background-black: #101214;
    --background-light-gray: #4D555F;
    --background-darker-gray: #252C34;
    --background-deep-gray: #1A1F23;
    --background-charcoal: #14171A;
    --background-almost-black: #0D0F12;
    --white-light: #E1E8EB;
    --white-medium: #B0B8BE;
    --white-gray: #A3B0B6;
    --white-dark: #7D8A92;
    --blue-light: #64A8F5;
    --blue-dark: #4A72B2;
}

* {
    color: var(--white-medium);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

html, body {
    height: 100%
}

body {
    background-color: var(--background-dark);
}

.container {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.col-auto {
    flex:0 0 auto;
    width:auto
}

.col-1 {
    width:8.33333333%;
    flex:0 0 auto
}

.col-2 {
    width:16.66666667%;
    flex:0 0 auto
}

.col-3 {
    width:25%;
    flex:0 0 auto
}

.col-4 {
    width:33.33333333%;
    flex:0 0 auto
}

.col-5 {
    width:41.66666667%;
    flex:0 0 auto
}

.col-6 {
    width:50%;
    flex:0 0 auto
}

.col-7 {
    width:58.33333333%;
    flex:0 0 auto
}

.col-8 {
    width:66.66666667%;
    flex:0 0 auto
}

.col-9 {
    width:75%;
    flex:0 0 auto
}

.col-10 {
    width:83.33333333%;
    flex:0 0 auto
}

.col-11 {
    width:91.66666667%;
    flex:0 0 auto
}

.col-12 {
    width:100%;
    flex:0 0 auto
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}


hr {
    margin-top: 2rem; 
    margin-bottom: 2rem;
    border: 1px solid var(--background-medium);
}

.btn {
    background-color: var(--blue-dark);
    color: var(--white-medium);
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.btn-secondary {
    background: none; 
    border: none; 
    color: inherit; 
    padding: 0; 
    font: inherit; 
    cursor: pointer;
    text-decoration: underline; 
}
.btn:hover{
    background-color: var(--blue-light);
}

.div-msg {
    position: fixed;
    width: 100%;
    margin-top: 5.9rem;
    display: flex;
}

#success-msg {
    background-color: green;
    padding: 1rem;
    margin-left: auto;
    margin-right: 2rem;
}

#error-msg {
    background-color: red;
    padding: 1rem;
    margin-left: auto;
}