:root {

    --gold: #F8B179;
    --white: #FFFFFF;
    --blue1: #111826;
    --blue2: #2D3250;
    --blue3: #424669;
    --blue4: #676F9D;
}

* {
    font-family: sans-serif;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.home {
    margin-left: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home .navegation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/********************************************************************************************/

.home .navegation li {
    border-radius: 2rem;
    padding: 1rem;
    transition: background-color .2s ease-in-out;
}

.home a {
    color: var(--white);
    border-radius: 2rem;
    padding: 1rem;
    min-width: 128px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home a:hover {
    background-color: var(--blue3);
}

.home img {
    width: 100%;
    height: 100%;
}

.home h1 {
    margin: 0;
    font-size: clamp(1rem, 5vh, 2rem); 
}

@media (min-width: 769px) {
    .home a {
        width: 100%;
        margin: 1rem;
    }
}

@media (max-width: 768px) OR (max-height: 359px) {
    .home {
        margin-top: 48px;
        margin-left: 0;
        flex-direction: row;
    }

    .home div {
        width: auto;
        height: 100%;
        flex-direction: column;
    }

    .home .nav-link h2 {
        font-size: 1.2rem;
    }
}