.sidebar {
    background-color: var(--background-black);
    box-shadow: 0.3rem 0 0.938rem rgba(0, 0, 0, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.sidebar .navegation {
    margin-bottom: auto;
}

/********************************************************************************************/

.sidebar .nav-link {
    height: 3.5rem;
    padding-inline: 1rem;
    display: block;
    align-content: center;
    position: relative;
}

.nav-link:hover {
    background-color: var(--background-dark);
}

.sidebar .nav-link[tooltip]::after{
    content: attr(tooltip);
    background-color: var(--background-black);
    color: var(--blue-light);
    padding: 0.375rem;
    top: 0.65rem;
    left: 120%;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.05s ease;
}

.sidebar .nav-link[tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

.active {
    background-color: var(--blue-dark);
}

.active:hover {
    background-color: var(--blue-dark);
}

/********************************************************************************************/

.link-body {
    display: contents;
}

.link-body .bi {
    background-color: var(--background-medium);
    width: 40px;
    border-radius: 50%;
    margin: 1rem;
    padding: 0.4rem;
    transition: opacity .2s ease-in-out;
}

.link-body:hover .bi {
    opacity: 0.8;
}

.dropdown-toggle::after {
    margin-left: 0.5rem;
    font-size: 0.5rem;
    content: "▲";
    transition: color .2s ease-in-out;
}

.dropdown-toggle:hover::after {
    color: var(--white-dark);
}

.dropdown-menu {
    background-color: var(--background-black);
    padding-left: 0;
    display: none;
    position: absolute;
    list-style: none;
    inset: auto auto 0px 0px;
    transform: translate(0, -72px);
    border: 1px solid var(--background-medium);
}

.dropdown-menu li {
    border-bottom: 1px solid var(--background-medium);
}

.dropdown-menu li a {
    padding: 0.5rem 2rem;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: var(--background-dark);
}