.table {
    background-color: var(--blue2);
    border-radius: 2rem;
    min-width: min-content;
    margin: 32px;
    margin-left: 104px;
}

.table div {
    display: flex;
    padding: 1rem;
}

.table .top {
    justify-content: space-between;
}

.table .bottom {
    justify-content: center;
}

.table .bottom a {
    display: flex;
    justify-content: space-around;
}
.table .bottom span {
    margin-inline: 1rem;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table .btn1 {
    background-color: var(--gold);
    color: var(--blue2);
    padding-inline: 2rem;
    font-weight: bold;
    border-radius: 1rem;
}

.table .btn1:hover {
    opacity: 0.8;
}

.table input {
    background-color: var(--blue3);
    border-radius: 2rem;
    border: none;
    text-align: center;
}

.table input:focus {
    outline: 2px solid var(--gold);
}

.table span {
    font-weight: bold;
}

.table a, th, td, span, input, input::placeholder {
    font-size: clamp(0.5rem, 5vw, 1rem); 
}

.table tbody {
    border-top: 1px solid var(--gold);
    border-bottom: 1px solid var(--gold);
}

tbody tr:nth-child(even) {
    background-color: var(--blue3);
}

.table tbody tr:hover {
    background-color: var(--blue4);
}

.table th {
    padding: 1rem;
}

.table td {
    padding-inline: 1rem;
    padding: 0.5rem;
    text-align: center;
}

@media (max-width: 768px) OR (max-height: 359px) {
    .table {
        margin-top: 80px;
        margin-left: auto;
    }
}