:root {
    --primary-light: #5765F1;
    --primary-dark: #2C3AA8;
    --blue-light: #05C7F2;
    --gray-light: #B9BBBE;
    --gray-medium: #7A7D7F;
    --gray-new0: #404249;
    --gray-new1: #35373C;
    --gray-new2: #B5BAC1;
    --gray-dark: #2c2f33;
    --black: #23272a;
    --red-light: #DA373C;
    --red-dark: #A92A30;
}

body {
    margin: 0;
    background-color: var(--black);
    font-family: 'Lato', sans-serif;
    color: white;
    cursor: default;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

/* B A R R A - L A T E R A L */
aside {
    position: fixed;
    background: var(--gray-dark);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 220px;
    padding: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item.active .menu-link {
    background-color: var(--gray-new0);
    color: white;
}

.menu-item.active .menu-link:hover {
    box-shadow: 0 0 10px var(--);
    transform: scale(1.02);
}

.menu-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.menu-link:hover {
    background-color: var(--gray-new1);
    transform: scale(1.02);
}

.menu-icon {
    fill: var(--gray-new2);
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.2s;
}

.menu-link:hover .menu-icon {
    transform: scale(1.1);
}

/* F O R M U L A R I O */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 260px;
}

.access-credentials-form,
.personal-info-form {
    display: flex;
    gap: 20px;
    background-color: var(--gray-dark);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 20px;
}

.form-column {
    flex: 1;
    border: none;
    padding: 12px;
}

.form-column label {
    color: var(--gray-light);
    display: block;
    margin-bottom: 5px;
}

.form-column input,
select {
    background-color: var(--black);
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;

    box-sizing: border-box;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

input:hover {
    transform: scale(1.05);
}

input:focus {
    outline: 2px solid var(--primary-light);
    color: white;
}

input::placeholder {
    color: var(--gray-medium);
}

/* B O T O N E S */
.form-actions {
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}

.cancel-button,
.register-button {
    width: 100%;
    padding: 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.cancel-button {
    background-color: var(--red-light);
}

.register-button {
    background-color: var(--primary-light);
}

.cancel-button:hover {
    background-color: var(--red-dark);
    transform: scale(1.05);
}

.register-button:hover {
    background-color: var(--primary-dark);
    transform: scale(1.05);
}

/* R E S O L U C I O N E S */

/* Para pantallas grandes (desktops) */
@media screen and (min-width: 1025px) {
    aside {
        width: 240px;
    }

    form {
        margin-left: 280px;
        padding: 20px;
    }

    .form-column input,
    select {
        padding: 22px;
    }

    .menu-link {
        padding: 22px;
    }
}

/* Para pantallas medianas (tablets en posición horizontal y vertical) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    aside {
        width: 200px;
        padding: 15px;
    }

    form {
        margin-left: 230px;
        padding: 30px;
    }

    .form-column input,
    select {
        padding: 18px;
    }

    .menu-link {
        padding: 18px;
    }

    .access-credentials-form,
    .personal-info-form {
        flex-direction: column;
        gap: 10px;
    }

    .form-column {
        padding: 8px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
    aside {
        width: 100%;
        position: relative;
        height: auto;
        padding: 10px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    form {
        margin-left: 0;
        padding: 15px;
    }

    .menu {
        flex-direction: row;
        gap: 10px;
    }

    .menu-item.active .menu-link {
        padding: 15px;
    }

    .menu-link {
        padding: 10px;
    }

    .menu-icon {
        width: 20px;
        height: 20px;
    }

    .access-credentials-form,
    .personal-info-form {
        flex-direction: column;
        padding: 10px;
    }

    .form-column {
        padding: 5px;
    }

    .form-column input,
    select {
        padding: 15px;
    }

    .cancel-button,
    .register-button {
        padding: 8px;
        width: 48%;
    }

    .form-actions {
        flex-direction: row;
    }
}

/* Para pantallas extra pequeñas (móviles en posición vertical) */
@media screen and (max-width: 480px) {

    .form-column input,
    select {
        padding: 12px;
    }

    .cancel-button,
    .register-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-actions {
        flex-direction: column;
    }
}