:root {
    --background-light: #4E4F58;
    --background-medium: #393A40;
    --background-gray: #2B2C31;
    --background-dark: #222326;
    --background-black: #1a1b1d;


    /* Colores adicionales oscuros */
--background-light-gray: #3C3D42; /* Gris claro adicional */
--background-darker-gray: #2A2B2F; /* Gris oscuro adicional */
--background-deep-gray: #1F2023;   /* Gris profundo */
--background-charcoal: #141516;    /* Gris muy oscuro, cerca del negro */
--background-almost-black: #0f0f10; /* Casi negro */



    --white-light: #F2F2F2;
    --white-medium: #D7D8D9;
    --white-gray: #B8BBBF;
    --white-dark: #686B73;
    --blue-light: #5C73F2;
    --blue-dark: #495ABF;
}

/********************************************************************************************/

* {
    color: var(--white-medium);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

/********************************************************************************************/

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
}

.overlay {
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: none;
    position: fixed;
}

/********************************************************************************************/

p {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
}

/********************************************************************************************/

@media (max-width: 926px) or (max-height: 438px) {
    .sidebar, main {
        filter: blur(15px);
        pointer-events: none;
        transition: filter 0.5s ease;
    }
    
    .overlay {
        display: block;
        text-align: center;
    }
}