



header {
    display: flex;
    justify-content: center;
}

.new-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new-lis {
    padding-inline: 8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-lis a {
    width: 100px;

    fill: var(--text-gray);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text-gray);
    font-size: 2rem;
    align-items: center;
}

span {
    padding-top: 1rem;
    padding-bottom: 1rem;
}