.form-control {
    background-color: var(--background-dark);
    color: var(--text-light);
    padding: .375rem .75rem;
    border-radius: 2rem;
    border: 1px solid var(--text-dark);
}

.nav {
    padding-left: 0;
    display: flex;
    list-style: none;
}

li {
    padding: 0.5rem;
}

a {
    display: contents;
}