.sidebar {
    background-color: var(--background-dark);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
}

.navegation {
    padding-left: 0;
    list-style: none;
    margin-bottom: auto;
}

.nav-link {
    fill: var(--white-gray);
    padding: 1rem;
    border-bottom: 1px solid var(--white-dark);
    display: block;
    position: relative;
    transition: background-color .15s ease-in-out, fill .15s ease-in-out;
}

.nav-link:hover {
    background-color: var(--white-dark);
    fill: var(--white-medium);
}

.nav-link .bi {
    transition: transform 0.15s ease-in-out;
}
.nav-link:hover .bi {
    transform: scale(1.2);
}

.nav-link[tooltip]::after {
    content: attr(tooltip);
    background-color: var(--background-dark);
    color: var(--white-light);
    border-radius: 4px;
    padding: 6px;
    font-size: 1rem;
    top: 16px;
    left: 110%;
    opacity: 0;
    font-family: sans-serif;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.nav-link[tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

.link-body {
    padding: 1rem;
    border-top: 1px solid var(--white-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle::after {
    color: var(--white-gray);
    margin-left: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.dropdown-toggle:hover::after {
    color: var(--white-medium);
}




.dropdown-menu {
    background-color: var(--background-dark);
    display: none;
    position: absolute;
    inset: auto auto 0px 0px;
    transform: translate(0, -56px);
    border: 1px solid var(--white-dark);
}

.dropdown-menu li {
    border-bottom: 1px solid var(--white-dark);
}

.dropdown-menu li a {
    display: block;
    padding: 0.5rem 2rem;
    color: var(--white-light);
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: var(--white-dark);
}










/*
.link-body img{
    transition: transform 0.15s ease-in-out;
}

.link-body:hover img{
    transform: scale(1.2);
}