* {
    margin: 0;
}

.nav {
    padding-left: 0;
}

.nav-link {
    fill: var(--text-gray);
    display: block;
    padding: 1rem;
    transition: background-color .15s ease-in-out, fill .15s ease-in-out;
}

.nav-link:hover {
    background-color: var(--background-hover);
    fill: var(--text-light);
}

.nav-link.active {
    background-color: var(--background-not-hover);
    fill: var(--text-light);
}

.nav-link.active:hover {
    background-color: var(--background-hover);
    fill: var(--icon-dark);
}

.link-body {
    fill: var(--blue-dark);
    justify-content: center;
    transition: fill .15s ease-in-out, transform .15s ease-in-out;
}

.link-body:hover {
    fill: var(--blue-medium);
    transform: scale(1.05);
}