/*table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: var(--background-dark);
    font-size: 0.9rem;
}

tr {
    text-align: center;
}

th,
td {
    padding: 0.5rem;
}

tbody {
    font-size: 0.8rem;
}

td {
    border: 1px solid var(--text-gray);
}